/* #region CSS reset */
.header,
body {
  background-color: #ffffff;
}
.team {
  background-color: #f4f4fd;
}
.hero {
  background-color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*body:has(.backdrop.is-open) {
  overflow: hidden;
}*/

/* #endregion CSS reset */
/* Header */
/* #region Header */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.site-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.menu-link.current {
  position: relative;
  color: #404bbf;
}

.menu-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}
.contact-info {
  font-style: normal;
}

.contact-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Header */
/* Hero */
/* #region Hero */
.hero {
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: auto;
  margin: auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
}

.hero-button {
  display: block;
  margin: 48px auto 0;
  min-width: 169px;
  background-color: #4d5ae5;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/* #endregion Hero */
/* Features */
/* #region Features */
.features {
  padding: 120px 0;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.feature-icon svg {
  fill: currentColor;
}
.features-titel {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  text-align: left;
}

.feature-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-item-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Features */

/* Team */
/* #region Team */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.social-list {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}
.team-titel {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.1);
  flex-basis: calc((100% - 72px) / 4);
}
.team-item:first-child {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  width: 100%;
  height: auto;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-name-body {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Team */

/* Portfolio */
/* #region Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  text-align: left;
  width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-titel {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  cursor: pointer;
}
.portfolio-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
}

.portfolio-info {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-name-body {
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Portfolio */
/* Footer */
/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-inner {
  display: flex;
  align-items: flex-start; /* всё по верхней линии */
}

.footer-container {
  margin-right: 120px;
}

.footer-container-social {
  width: 208px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 80px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.footer-social-media,
.footer-form-sbr {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.social-icon-footer {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-form-sbr {
  line-height: 1.5;
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.footer-form-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  padding-left: 8px;
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}

.icon-send {
  fill: currentColor;
  margin-left: 16px;
}
/* #endregion Footer */

/* #region Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-btn:active {
  background-color: rgba(64, 75, 191, 1);
}
.modal-btn:active .modal-btn-icon {
  color: rgba(255, 255, 255, 1);
}
.btn-accent {
  min-width: 169px;
  height: 56px;
  display: block;
  margin: auto;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: #404bbf;
}

.modal-caption {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(46, 47, 66, 1);
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: rgba(142, 143, 153, 1);

  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 360px;
  height: 40px;
  font-family: Roboto;
  padding-left: 38px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus ~ .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(46, 47, 66, 1);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

/* #endregion */

/* #region Checkbox styling */

.modal-form-field-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  cursor: pointer;
}

.agreement-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.agreement-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox-icon {
  width: 10px;
  height: 8px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-check:checked + .agreement-wrapper > .agreement-checkbox {
  background-color: #404bbf;
  border: none;
}

.agreement-check:checked + .agreement-wrapper > .agreement-checkbox svg {
  fill: #f4f4fd;
}

.agreement-text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #8e8f99;
}

.agreement-link {
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 200ms ease;
}

.agreement-link:hover,
.agreement-link:focus {
  color: #404bbf;
}
/* #endregion */
